*{
    
    background: url(img/suuu.jpg) no-repeat ;
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
  
}
img{
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.big{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
  
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
  
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}